@model SportsThemesBackend.Models.Theme

@{
    ViewData["Title"] = "Theme Details";
}

<h1>Theme Details</h1>

<hr />

<div>
    <h4><i>@Model.Name</i> Theme</h4>

    <hr />

    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BodyColour)
        </dt>
        <dd class="col-sm-8">
            <input asp-for="BodyColour" class="form-control" type="color" disabled />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ListBackgroundColour)
        </dt>
        <dd class="col-sm-8">
            <input asp-for="ListBackgroundColour" class="form-control" type="color" disabled />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TextColour)
        </dt>
        <dd class="col-sm-8">
            <input asp-for="TextColour" class="form-control" type="color" disabled />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ButtonTextColour)
        </dt>
        <dd class="col-sm-8">
            <input asp-for="ButtonTextColour" class="form-control" type="color" disabled />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ButtonBackgroundColour)
        </dt>
        <dd class="col-sm-8">
            <input asp-for="ButtonBackgroundColour" class="form-control" type="color" disabled />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LinkTextColour)
        </dt>
        <dd class="col-sm-8">
            <input asp-for="LinkTextColour" class="form-control" type="color" disabled />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LinkOpacity)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LinkOpacity)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Font)
        </dt>
        <dd class="col-sm-8" style="font-family: @Model.Font">
            @Html.DisplayFor(model => model.Font)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.HeaderFontSize)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.HeaderFontSize)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TextFontSize)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TextFontSize)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-8">
            <img style="width: 100px" src="@Url.Content(ViewBag.LogoURL))">
        </dd>
    </dl>
</div>

<hr />

<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit <i>@Model.Name</i></a>
<a class="btn btn-dark" asp-action="Index">Back to List of Themes</a>
