@model SportsThemesBackend.Models.Team

@{
    ViewData["Title"] = "Team Details";
}

<h1>Team Details</h1>

<hr />

<div>
    <h4><i>@Model.TeamName</i> Details</h4>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoachId)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.CoachName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeId)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ThemeName
        </dd>
        <dt class="col-sm-2"></dt>
        <dd>
            <a class="btn btn-info" asp-controller="Themes" asp-action="Details" asp-route-id="@Model.ThemeId">View <i>@ViewBag.ThemeName</i> Details</a>
        </dd>
    </dl>
</div>

<hr />

<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.TeamName">Edit <i>@Model.TeamName</i></a>
<a class="btn btn-dark" asp-action="Index">Back to List of Teams</a>
